@font-face {
  font-family: rogueFont;
  src: url(../rogue.ttf);
}
*{
  font-family: rogueFont;
}
body{
  margin: 0;
}

#elite-power{
  font-size: 40px;
  color: white;
  display: flexbox;
  text-align: left;
  padding: 20px;

}
nav{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav #title{
  font-size: 2rem;
  color: white;
  margin: 1rem;
  text-decoration: none;
}

nav ul{
  display: flex;
}
nav ul li{
  list-style: none;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.6rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

#p{
  color: red;
}
#r{
  color: red;
}
.flex-container{
  font-size: 70%;
  margin-top: auto;
}

.workout-item{
  text-align: center;
  font-size: medium;
}

.workout-container{
  display: grid;
  grid-template-columns: 550px 550px;
  justify-content: space-around;
  grid-gap: 30px;
}


.saved-workouts img{
  display: grid;
  grid-template-columns: 550px 550px;
  justify-content: space-around;
  grid-gap: 30px;
  margin: 20px;
}
.SW-body{
  margin: 0 0.5rem;
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  flex: 0 0 50%;
  padding: 5px;
  border-radius: 1rem;
  border-color: black;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.667);
  box-sizing: border-box;

}
.savedworkout-title{
  font-size: 35px;
  text-align: center ;
  padding: 0.5em 1em;
  margin: 0.25em;
}

.style-workout{
  margin: 10px;
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  flex: 0 0 50%;
  padding: 5px;
  border-radius: 1rem;
  border-color: black;
  box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.667);
  box-sizing: border-box;

}
.saved-workout-info{
  display: grid;
  text-align: justify;
}

.button-styles{
  display: grid;
  justify-content: center;
}


.footer {
  height: 200px;
  background: black;
  text-align: center;
  padding: 20px 0;
  color: white;
  margin-top: 50px;
}

#Dreps-button, #Ireps-button, #Dsets-button, #Isets-button, #Iweight-button, #Dweight-button, #remove, #submit-workout, #Add-To-Program, #handleRemoveSavedWorkout{
  font-size: 12px;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  background: #dddddd;
  cursor: pointer;
}

.about-styling{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  grid-gap: 30px;
  text-align: center;
}
.services-styling{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  grid-gap: 30px;
  text-align: center;
}
#jim{
  width: 100%;
}
