@font-face {
  font-family: rogueFont;
  src: url(../rogue.ttf);
}
*{
  font-family: rogueFont;
}
body{
  margin: 0;
}

#elite-power{
  font-size: 40px;
  color: white;
  display: flexbox;
  text-align: left;
  padding: 20px;

}
#title{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#p{
  color: red;
}
#r{
  color: red;
}
.flex-container{
  font-size: 70%;
  margin-top: auto;
}

.workout-item{
  text-align: center;
  font-size: medium;
}

.workout-container{
  display: grid;
  grid-template-columns: 550px 550px;
  justify-content: space-around;
  grid-gap: 30px;
}

img{
  width: 100%;
}

.style-workout{
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  flex: 0 0 50%;
  padding: 5px;
  border-radius: 1rem;
  border-color: black;
  box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.667);
  box-sizing: border-box;

}

.button-styles{
  display: grid;
  justify-content: center;
}


.footer {
  height: 200px;
  background: black;
  text-align: center;
  padding: 20px 0;
  color: white;
  margin-top: 50px;
}

#Dreps-button, #Ireps-button, #Dsets-button, #Isets-button, #Iweight-button, #Dweight-button, #remove, #submit-workout, #Add-To-Program{
  font-size: 12px;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  background: #dddddd;
  cursor: pointer;
}


